<MudDialog Class="edit-project-dialog">
    <TitleContent>
        <MudText Typo="Typo.h6">Edit: @Project.Name</MudText>
    </TitleContent>
    <DialogContent>
        <EditForm EditContext="@EditContext">
            <DataAnnotationsValidator/>
            <div>
                <div>
                    <div>
                        <MudTextField Variant="Variant.Outlined" T="string" Label="Name" @bind-Value="Project.Name" HelperText="Ex: HMLoader" For="@(() => Project.Name)"></MudTextField>
                    </div>

                    <MudTooltip Tooltip="Used for ordering when using legacy loading, leave 500 if mod is in steam workshop" Context="ctx">
                        <div>
                            <MudTextField Variant="Variant.Outlined" T="int" TValue="int" Icon="info" Label="Index" @bind-Value="Project.ModIndex" ValidationDisabled="true"></MudTextField>
                        </div>
                    </MudTooltip>
                </div>

                <div>
                    <MudTextField Variant="Variant.Outlined" T="string" Label="Assets Path" @bind-Value="Project.CookedAssetsPath" HelperText="Ex: C:\contoso\Mining\Saved\Cooked\WindowsNoEditor\Mining" For="@(() => Project.CookedAssetsPath)"></MudTextField>
                </div>
                <div>
                    <MudTextField Variant="Variant.Outlined" T="string" Label="Dist Path" @bind-Value="Project.OutputPath" HelperText="Ex: C:\contoso\ModDist" For="@(() => Project.OutputPath)"></MudTextField>
                </div>
            </div>
        </EditForm>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="@(() => OnSubmit())" >Save</MudButton>
        <MudButton OnClick="@(() => CloseDialog())">Cancel</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    public MudDialogInstance DialogReference { get; set; }  = null!;

    [Parameter]
    public ProjectData Project { get; set; }  = null!;

    private EditContext EditContext { get; set; }  = null!;

    protected override void OnInitialized()
    {
        EditContext = new EditContext(Project);
        
        base.OnInitialized();
    }
    
    private void CloseDialog(bool sendResult = false)
    {
        var result = sendResult ? Project : null;
        
        DialogReference.Close(result);
    }

    private void OnSubmit()
    {
        if (!EditContext.Validate())
        {
            return;
        }
        
        CloseDialog(true);
    }
}